{% extends 'base.html.twig' %}

{% block title %}CINESUP - Etudiant - Accueil{% endblock %}

    {% block scripts %} {% endblock %}
{% block body %}
    <h1 class="col-4 offset-5">Accueil</h1>

<div class="row">
    <div class="container col-2" id="nav-eleve">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href=" {{ path('eleve_homepage') }}" role="tab" aria-controls="v-pills-home" aria-selected="false">Accueil</a>
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="{{ path('etudiant_dossier_administratif') }}" role="tab" aria-controls="v-pills-home" aria-selected="false">Administratif</a>
            <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="{{ path('etudiant_dossier_choixsection') }}" role="tab" aria-controls="v-pills-profile" aria-selected="true">Choix section</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{ path('etudiant_dossier_scolaire_parcours', {'annee':0}) }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Parcours scolaire</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{ path('etudiant_dossier_scolaire_notes') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Notes</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{ path('etudiant_dossier_validation') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Validation</a>
        </div>
    </div>

    <h2 class="col-8 offset-3">Infos quelconques sur le processus</h2>


    <ol class="col-3 offset-5" style="font-weight: 300">
        <li>Etape 1 | Deadline 1</li>
        <li>Etape 2 | Deadline 2</li>
        <li>Etape 3 | Deadline 3</li>
    </ol>
</div>
{% endblock %}



{% block javascripts %}{% endblock %}
