{% extends 'base.html.twig' %}

{% block title %}Campagne de {{campagneActuelle.annee}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
  <div class = "text-center">
  <h1>Campagne de {{campagneActuelle.annee}}</h1>

  <h2>Calendrier</h2>
  {% for calendrier in calendriers %}
    {{calendrier.descJalon}} : {{calendrier.date|date('d-m-Y')}}
    <br/>
  {% endfor %}

  <h2 style="margin:20px"> {{nombreDeDossiersTraites}} / {{nombreDeDossiers}} dossiers traités</h2>

  <table id="dossiersCampagne" class="table table-dark">
    <thead class="bg-info">
      <tr>
        <th>Numéro de dossier</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Professeur en charge du dossier</th>
        <th>Traité ?</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}
        <tr>
          <td class="align-middle">{{dossier.numeroDossier}}</td>
          <td class="align-middle">{{dossier.prenomEleve}}</td>
          <td class="align-middle">{{dossier.nomEleve}}</td>
          <td class="align-middle">
            {% if (dossier.prenomProf != null) and (dossier.nomProf != null)  %}
              {{dossier.prenomProf}} {{dossier.nomProf}}
            {% else %}
              /
            {% endif %}
          </td>
          <td class="align-middle"> 
          {% if dossier.estTraite %}
            Oui
          {% else %}
            Non
          {% endif %}
          </td>
          <td class="align-middle">
            <form action="{{path('modifierDossier', {'idCampagne': dossier.idCampagne, 'idEleve': dossier.idEleve})}}" method="POST">
              <button class="btn btn-primary">Modifier</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}
