{% extends 'base.html.twig' %}

{% block title %}Candidatez dès maintenant !
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="h4 mb-5 mt-5 text-center">Créez votre compte pour débuter votre candidature</h1>
    <div class="col-8 offset-4 mx-auto">
		{{ form_start(inscriptionForm) }}
		<div class="my-custom-class-for-errors">
			{{ form_errors(inscriptionForm) }}
		</div>
		{{ form_row(inscriptionForm.username) }}
		{{ form_row(inscriptionForm.plainPassword) }}
		<button type="submit" class="btn btn-primary">S'inscrire</button>
		{{ form_end(inscriptionForm) }}
    </div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
