{% extends 'base.html.twig' %}

{% block title %}CINESUP - Candidatures{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}

    <h1>Candidats </h1>
    <div class="table-responsive-lg">
    <table id="tableDossiers" class="table table-dark">
        {# Header #}
        <thead class="bg-info">
        <tr>
            <th>N° dossier</th>
            <th>Moyenne</th>
            <th>Note autobiographie</th>
            <th>Note d'appréciation</th>
            <th>Etat</th>
            <th></th>
        </tr>
        </thead>
        {# Liste des candidats #}
        <tbody>
        {% for dossier in listeDossiers %}
            <tr>
                <td class="align-middle">{{ dossier.numeroDossier }}</td>
                <td class="align-middle">{{ dossier.noteMoyenneGenerale }} </td>
                <td class="align-middle">{{ dossier.noteAutobiographie }} </td>
                <td class="align-middle">{{ dossier.noteAppreciationDossier }} </td>
                <td class="align-middle">
                    {% if dossier.estTraite %}
                        Traité
                    {% else %}
                        Non traité
                    {% endif %}
                </td>
                <td class="align-middle">
                    <form method="POST">
                        <input type="hidden" name="idEleve" value="{{ dossier.idEleve }}">
                        <button class="btn btn-primary" formaction="{{ path('afficheCandidat') }}">Consulter
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <p> Aucun dossier trouvé </p>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
